/* Add these styles to your CSS file */
.navbar {
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  }
  
  .nav-logo {
    transition: height 0.9s ease-in-out;
  }
  
  .nav-text {
    transition: font-size 0.9s ease-in-out;
  }
  